# 忽略操作系统生成的文件
.DS_Store
Thumbs.db

# 忽略IDE和编辑器生成的文件
.idea
commodity_recommend_system.iml


# 忽略日志文件
*.log
logs/
*.pid
*.seed
*.pid.lock



# 忽略Java编译生成文件
*.class



# 忽略临时文件和调试输出
*.swp
*.swo
*.bak
*.tmp



# 忽略特定工具生成的文件
/web_server/out/
/web_server/.classpath
/web_server/.project
/web_server/.settings/

# 忽略私密文件或个人配置
/web_server/src/main/resources/application.properties
/web_server/src/main/resources/application.yml

# 忽略编译结果
/web_server/target